@use 'vars';

.product-detail-details {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}

.product-detail-close-details {
    background-color: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50px;
}

.product-detail-close-details {
    cursor: pointer;
}

.product-detail-details > img:nth-child(2){
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;    
}

@media (max-width: 640px) {
    .product-detail-details {
        width: 100%;
    }
    .product-detail-details > img:nth-child(2){
        width: 100%;
   
    }
    .product-info-details {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}