@use 'vars';

.mobile-menu {
    padding: 30px 50px 30px 50px;
}

.mobile-menu ul{    
    margin: 24px 0 0;
    list-style: none;
}  

.mobile-menu ul li{    
    margin-bottom: 24px;

}  

.mobile-menu ul:nth-child(1){    
    border-bottom: 1px solid var(--very-light-pink);

}  

.mobile-menu ul li a{    
    color: var(--black);
    text-decoration: none;
    font-size: var(--sm);
    /* margin-bottom: 24px;
    display: inline-block; */
    font-weight: bold;
} 

.email {
    font-size: var(--sm);
    font-weight: 300;
}

.sing-out {
    color: var(--hospital-gerrn)!important;
    font-size: var(--sm);
}

.mobile-menu ul:nth-child(3) {
    position: absolute;
    bottom: 0;
}