@use 'vars';

.cards-container-principal {
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
    margin: 2em 0 0 0;
}

@media (max-width: 640px) {
    .cards-container-principal {
        grid-template-columns: repeat(auto-fill,140px);
    }
}